.about-content-block {
  width: 45rem;
}
.donation-overview-image {
  border-radius: 1.25rem;
}

@media screen and (max-width: 48rem) {
  .about-content-block {
    width: 100%;
  }
  .donation-overview-image {
    width: 100%;
  }
}
