.expense-item {
  height: 87px;
  width: 698px;
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 18px 50px;
}

.expense-content {
  display: flex;
  align-items: center;
  height: 66px;
  width: 353px;
}
.expense-money {
  height: 22px;
  width: 135px;
}

.expense-item:last-child .expense-content {
  font-size: 18px;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .expense-item {
    width: 100%;
    height: 100%;
    padding: 18px 20px;
    border-radius: 10px;
    gap: 1rem;
  }
  .adopt-student-item {
    width: 100%;
  }
  .expense-content {
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
  }
  .expense-money {
    height: 100%;
    width: 30%;
    font-size: 0.8rem;
  }
  .expense-breakdown-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}
