.expense-item {
  height: 5.4375rem;
  width: 43.625rem;
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.25rem;
  padding: 1.125rem 3.125rem;
}

.expense-content {
  display: flex;
  align-items: center;
  height: 4.125rem;
  width: 22.0625rem;
}

.expense-money {
  height: 1.375rem;
  width: 8.4375rem;
}

.expense-item:last-child .expense-content {
  font-size: 1.125rem;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .expense-item {
    width: 100%;
    height: 100%;
    padding: 1.125rem 1.25rem;
    border-radius: 0.625rem;
    gap: 1rem;
  }

  .adopt-student-item {
    width: 100%;
  }

  .expense-content {
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
  }

  .expense-money {
    height: 100%;
    width: 30%;
    font-size: 0.8rem;
  }

  .expense-breakdown-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
  }
}
