.home-landing-section {
  background-color: rgb(255, 255, 255);
  width: 100%;
  overflow: hidden;
  position: relative;
}

.overlay-blue {
  height: 43.75rem;
  width: 43.75rem;
  background-color: var(--secondary-bg-color);
  position: absolute;
  top: -60%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 100%;
  z-index: 0;
  filter: blur(6.25rem);
}

.home-hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 11.875rem;
}

.hero-content {
  width: 53rem;
  max-width: 53rem;
  text-align: center;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.75rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-color);
  position: relative;
  z-index: 1;
}

.is-light-italic {
  font-style: italic;
  font-weight: 400;
}

.is-black {
  color: var(--black);
}

.hero-carousel-wrapper {
  display: flex;
  position: relative;
}

.hero-carousel-ticker {
  display: flex;
}

.hero-images {
  width: 27.5rem;
  height: 27.125rem;
}

.hero-carousel-image {
  width: 100%;
  height: 100%;
}

.hero-donate-now-button {
  height: 13.75rem;
  width: 13.75rem;
  position: absolute;
  left: 0;
  right: 0;
  top: -8.125rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1875rem solid #3300cd;
  border-radius: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
  z-index: 5;
}

.donate-now-button-text {
  font-size: 2rem;
  width: 7.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.875rem;
  text-transform: capitalize;
}

.donate-arrow-svg {
  width: 1.5rem;
  height: 1.5rem;
  display: inline;
  fill: white;
}

/* new code */

.hero-carousel-ticker {
  display: flex;
  align-items: center;
  animation-name: moving;
  animation-duration: 18s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 1;
}


@keyframes moving {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* new code ending */