navbar{
    display: block;
    height: 100px;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}
.navbar-container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    width: 250px;
    max-width: 250px;
}
.nav-button{
    padding: 10px 35px;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--button-bg);
    color: var(--white);
    border-radius: 30px;
}