.payment-card-section {
  width: 33.25rem;
  background-color: var(--secondary-bg-color);
  border-radius: 1.25rem;
  padding: 2.5rem 1.25rem;
  height: 100%;
  position: sticky;
  top: 0.625rem;
}

.payment-container {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.payment-social-icons-wrapper {
  display: flex;
  justify-content: end;
  gap: 1.375rem;
  align-items: center;
}

.payment-block {
  width: 100%;
  background-color: var(--white);
  padding: 1.75rem 1.625rem;
  border-radius: 0.625rem;
  gap: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.custom-amount-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment-button {
  padding: 0.875rem 2.0625rem;
  background-color: var(--secondary-bg-color);
  border-radius: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 100%;
  font-weight: 500;
  transition: all 0.3s ease;
}

.payment-button:hover,
.payment-button.active {
  background-color: #2374dd;
  color: white;
}

.payment-input {
  padding: 0.625rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid rgba(128, 128, 128, 0.472);
}

.cards-wrapper-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.card-para-light {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #a8afba;
}

.cards-para-dark {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #000000;
}

.payment_icons_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment-icons-divs {
  width: 4.375rem;
  height: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--secondary-bg-color);
}

.payment-svg-icons {
  width: 2.5rem;
  height: 2.5rem;
}

.gradient-button {
  margin-top: 1.25rem;
  background: linear-gradient(
    83.63deg,
    #579dff -38.67%,
    #2972d0 23.81%,
    #2374dd 52.56%,
    #2271d8b1 84.5%
  );
  border-radius: 0.625rem;
  color: white;
  width: 100%;
  height: 3.75rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.qr-image-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.qr-image {
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
  border-radius: 0.3125rem;
}

.is-desktop-hide {
  display: none;
  margin-bottom: 2.5rem;
  margin-top: 0 !important;
}

@media screen and (max-width: 48rem) {
  .payment-card-section {
    width: 100%;
    border-radius: 0.625rem;
    padding: 1.875rem 1.25rem;
    height: 100%;
    position: relative;
    top: 0;
    margin-top: 2.5rem;
  }
  .custom-amount-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.625rem;
  }
  .payment-button {
    padding: 0.9375rem 0;
    font-size: 0.875rem;
  }
  .payment-svg-icons {
    width: 1.875rem;
    height: 1.875rem;
  }
  .payment-icons-divs {
    width: 2.5rem;
    height: 2.5rem;
  }
  .cards-para-dark,
  .card-para-light {
    font-size: 0.725rem;
    line-height: 1rem;
  }
  .gradient-button {
    margin-top: 0.625rem;
    height: 2.5rem;
    font-size: 1rem;
  }
  .qr-image-wrapper {
    gap: 2rem;
    flex-direction: column;
  }
  .is-desktop-hide {
    display: block;
  }
}
