:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
  --border-color: rgba(0, 48, 110, 0.15);
  --button-bg: #00306e;
  --white: #ffffff;
  --black: #1e1e1e;
  --primary-color: #00306e;
  --secondary-bg-color: rgba(209, 241, 255, 0.52);
  --stroke-color: #01306e;
  --font-primary: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary);
}

.main-container {
  width: 80rem;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 2.25rem;
  line-height: 3.75rem;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.125rem;
  letter-spacing: 0.0625rem;
  text-transform: capitalize;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .main-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  h2 {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}
